.cards-container {
  margin: 1rem 5rem 1rem 5rem;
}

.box {
  background-color: rgb(221, 221, 221);
  margin: 20px;
  padding-left: 10px;
  border: 3px solid black;
  border-radius: 0.6rem;
}

.cityName {
  text-align: center;
  margin-top: 0.5rem;
}

.cityPicture {
  margin-top: 0.6rem;
  border-radius: 0.5rem;
}

.card-1,
.card-2,
.card-3 {
  border: 3px solid black;
  border-bottom-right-radius: 0.6rem;
  font-size: 120%;
  padding: 5px;
  margin: 0 0 0 0;
  float: right;
  position: relative;
  bottom: -3px;
  left: 3px;
  color: rgb(41, 41, 41);
  text-decoration: none;
}

.card-1:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(95, 206, 92);
}

.card-2:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(88, 167, 241);
}

.card-3:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(228, 117, 83);
}

.info {
  text-align: left;
  padding: 3px;
  font-size: 110%;
}

.card-1 {
  background-color: rgb(133, 204, 131);
}

.card-2 {
  background-color: rgb(124, 184, 241);
}

.card-3 {
  background-color: rgb(235, 148, 121);
}

@media (min-width: 992px) {
  .card {
    float: left;
    width: 33.33%;
    border: none;
  }
  img {
    width: 97%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card {
    float: left;
    width: 50%;
    border: none;
  }
  .card:last-child {
    float: top;
    width: 100%;
    border: none;
  }
  img {
    width: 97%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .card {
    float: left;
    width: 100%;
    border: none;
  }
  img {
    width: 97%;
  }
}
